@font-face{font-display:swap;font-family:"Averta CY--gsg-extension";font-weight:700;src:url(../../public/fonts/AvertaCY/bold.woff2) format("woff2")}@font-face{font-family:"Averta CY--gsg-extension";src:url(../../public/fonts/AvertaCY/medium.woff2) format("woff2");font-weight:500;font-display:swap}@font-face{font-family:"Averta CY--gsg-extension";src:url(../../public/fonts/AvertaCY/normal.woff2) format("woff2");font-weight:400;font-display:swap}@font-face{font-family:"Averta CY--gsg-extension";src:url(../../public/fonts/AvertaCY/semi-bold.woff2) format("woff2");font-weight:600;font-display:swap}
:root,:host{-webkit-font-smoothing:initial}.gsg-image{width:auto;height:180px}.gsg-image-container{display:flex;justify-content:center;align-items:center;padding:10px}.gsg-pa-l{padding:var(--spacing-L)}.gsg-pa-m{padding:var(--spacing-M)}.gsg-pa-s{padding:var(--spacing-S)}.gsg-pa-xs{padding:var(--spacing-XS)}.gsg-pa-xl{padding:var(--spacing-XL)}.gsg-pt-s{padding-top:var(--spacing-S);display:block}.gsg-pt-xl{padding-top:var(--spacing-XL)}.gsg-mb-m{margin-bottom:var(--spacing-M) !important}.gsg-mb-s{display:block;margin-bottom:var(--spacing-S) !important}.gsg-mb-xs{margin-bottom:var(--spacing-XS) !important}.gsg-mr-s{margin-right:var(--spacing-S) !important}.gsg-mr-12{margin-right:12px !important}.gsg-ml-s{margin-left:var(--spacing-S) !important}.gsg-ml-xs{margin-left:var(--spacing-XS) !important}.gsg-mb-l{margin-bottom:var(--spacing-L) !important}.gsg-mb-xl{margin-bottom:var(--spacing-XL) !important}.gsg-fs-12{font-size:12px}.gsg-fw-bold{font-weight:bold !important}.gsg-letter-10{letter-spacing:0 .gsg-letter-10-1em !important}.gsg-text-center{text-align:center}.gsg-color-primary{color:var(--palette-primary-main) !important}.gsg-color-primary-light{color:var(--palette-primary-light) !important}.gsg-color-primary-dark{color:var(--palette-primary-dark) !important}.gsg-d-grid{display:grid;row-gap:16px}.gsg-d-grid--col,.gsg-d-grid--col-3{grid-auto-flow:column}.gsg-d-grid--col-3,.gsg-d-grid--col-3-3{column-gap:16px}.gsg-d-flex{display:flex}.gsg-d-iflex{display:inline-flex}.gsg-f-0{flex:0 0 auto}.gsg-f-1{flex:1 1 0%}.gsg-vert-center{align-items:center}.gsg-hor-center{justify-content:center}.gsg-hor-right{justify-content:flex-end}.gsg-br-large{border-radius:var(--shape-borderRadiusLarge)}body{padding:0;margin:0}.gsg-retailers-container{display:flex}.gsg-container{background-color:var(--palette-background-default);font-family:inherit;position:fixed;width:100%;height:100%;left:0;top:0;overflow:auto;box-sizing:border-box;white-space:pre-line}.gsg-container--privacy{margin-bottom:48px}.gsg-container-retailer-link{grid-template-rows:80px minmax(42px, auto);grid-auto-columns:minmax(auto, 138px)}.gsg-container-retailer-title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}.gsg-container-retailer-logo{width:138px}.gsg-container--language-content{left:200px}.gsg-container--locale-select{width:60%;margin-bottom:20px}.gsg-container--locale-select [role=button],.gsg-container--locale-select [role=listbox]{border-radius:4px;cursor:pointer}.gsg-container--locale-select [role=option]:nth-of-type(2){border-radius:0 0 4px 4px}.gsg-container--locale-select [role=button]:focus{border-width:1px}.gsg-content{position:relative;max-width:500px}.gsg-content-image{flex:0 0 auto;width:340px;height:auto;filter:drop-shadow(var(--shadows-16));border-radius:16px;margin-right:80px}.container--privacy .gsg-content-image{margin-top:85px}.gsg-background-image{display:flex;justify-content:center;overflow:hidden}.gsg-background-image:not(.gsg-background-image--content){position:absolute;left:0;top:0;width:calc(50% - 160px);height:100%;z-index:-1}.gsg-background-image img{height:100%}.gsg-background-image--content{flex-direction:column;align-items:center;position:relative;background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))}.gsg-background-image--content img:not(.gsg-background-image--content-logo){position:absolute;left:0;top:0;width:100%;height:auto;z-index:-1}.gsg-settings{display:flex;flex-direction:column;gap:16px}.gsg-settings-divider{width:100%;border:1px solid var(--Other-divider, #E0E0E0)}.gsg-settings-list{display:flex;flex-direction:column;gap:8px}.gsg-settings-list-element{display:flex;align-items:center;gap:8px}.gsg-settings-list-element-left{flex:1;padding:8px 0}.gsg-settings-list-element-action{border-radius:50%;cursor:pointer}.gsg-settings-list-element-action:hover{background-color:var(--palette-action-hover)}
:root,:host{--borderWidth-large: 2px;--borderWidth-regular: 1px;--containerWidth-ctaWidth: 210px;--containerWidth-cutSize: 24px;--containerWidth-default: 1210px;--containerWidth-seoContent: 640px;--iconType: Sharp;--palette-action-active: rgba(36, 38, 40, 0.54);--palette-action-disabled: rgba(36, 38, 40, 0.26);--palette-action-disabledBackground: rgba(36, 38, 40, 0.12);--palette-action-focus: rgba(36, 38, 40, 0.12);--palette-action-hover: rgba(36, 38, 40, 0.04);--palette-action-selected: rgba(36, 38, 40, 0.08);--palette-background-default: #E9EAED;--palette-background-paper: #FFFFFF;--palette-borderColor: #D6D8DB;--palette-common-black: #000000;--palette-common-white: #FFFFFF;--palette-divider: #D6D8DB;--palette-error-contrastText: #FFFFFF;--palette-error-contrastTextOnDark: #FFFFFF;--palette-error-contrastTextOnLight: #FFFFFF;--palette-error-dark: rgb(142, 0, 0);--palette-error-light: rgb(214, 51, 51);--palette-error-main: #CC0000;--palette-grey-50: #F7F7F8;--palette-grey-100: #F2F2F3;--palette-grey-200: #ECEDEE;--palette-grey-300: #D6D8DB;--palette-grey-400: #C1C4C8;--palette-grey-500: #AEB2B7;--palette-grey-600: #9EA2A8;--palette-grey-700: #8F949B;--palette-grey-800: #3A3C40;--palette-grey-900: #242628;--palette-grey-A100: #D1D5D9;--palette-grey-A200: #A2A9B2;--palette-grey-A400: #58606A;--palette-grey-A700: #2C3034;--palette-heroHeaderBackground: transparent;--palette-info-contrastText: #FFFFFF;--palette-info-contrastTextOnDark: #FFFFFF;--palette-info-contrastTextOnLight: #FFFFFF;--palette-info-dark: #01579B;--palette-info-light: #03A9F4;--palette-info-main: #0288D1;--palette-interaction-contrastText: #FFFFFF;--palette-interaction-contrastTextOnDark: #FFFFFF;--palette-interaction-contrastTextOnLight: #242628;--palette-interaction-dark: #803C00;--palette-interaction-light: #FF9433;--palette-interaction-main: #FF7900;--palette-menuColor: #BD5A00;--palette-primary-contrastText: #FFFFFF;--palette-primary-contrastTextOnDark: #FFFFFF;--palette-primary-contrastTextOnLight: #242628;--palette-primary-dark: #803C00;--palette-primary-light: #FF9433;--palette-primary-main: #FF7900;--palette-secondary-contrastText: #FFFFFF;--palette-secondary-contrastTextOnDark: #FFFFFF;--palette-secondary-contrastTextOnLight: #242628;--palette-secondary-dark: #242628;--palette-secondary-light: #AEB1B7;--palette-secondary-main: #35373B;--palette-sectionBackground: transparent;--palette-success-contrastText: #FFFFFF;--palette-success-contrastTextOnDark: #FFFFFF;--palette-success-contrastTextOnLight: #FFFFFF;--palette-success-dark: rgb(33, 84, 11);--palette-success-light: rgb(89, 147, 64);--palette-success-main: #307911;--palette-sustainability-background: #EDFEF2;--palette-sustainability-dark: #1D522C;--palette-sustainability-main: #2EB755;--palette-sustainability-text: #1D522C;--palette-temp-bannerLinkBackgroundColor: rgba(36, 38, 40, 0.8);--palette-temp-shopLinkTextBorderColor: rgba(255, 121, 0, 0.5);--palette-temp-shopLinkTextHoverBackground: rgba(255, 121, 0, 0.04);--palette-temp-textBannerBackground: rgba(255, 255, 255, 0.8);--palette-tertiary-contrastText: #FFFFFF;--palette-tertiary-contrastTextOnDark: #FFFFFF;--palette-tertiary-contrastTextOnLight: #242628;--palette-tertiary-dark: #990024;--palette-tertiary-light: #FF668A;--palette-tertiary-main: #E00034;--palette-text-disabled: #C1C4C8;--palette-text-hint: #C1C4C8;--palette-text-primary: #242628;--palette-text-secondary: #8F949B;--palette-voucherCard-contrastText: #FFFFFF;--palette-voucherCard-contrastTextOnHover: #FFFFFF;--palette-voucherCard-contrastTextOnSecondary: #FFFFFF;--palette-voucherCard-contrastTextOnTertiary: #242628;--palette-voucherCard-hover: #B35500;--palette-voucherCard-main: #FF7900;--palette-voucherCard-secondary: #FF7900;--palette-voucherCard-tertiary: #FFA427;--palette-warning-contrastText: #FFFFFF;--palette-warning-contrastTextOnDark: #FFFFFF;--palette-warning-contrastTextOnLight: #FFFFFF;--palette-warning-dark: #E65100;--palette-warning-light: #FF9800;--palette-warning-main: #ED6C02;--shadows-0: 0px 0px 0px 0px rgba(0, 0, 0, 0);--shadows-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);--shadows-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);--shadows-3: 0px 3px 6px 0px rgba(0, 0, 0, 0.09);--shadows-4: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);--shadows-5: 0px 5px 10px 0px rgba(0, 0, 0, 0.11);--shadows-6: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);--shadows-7: 0px 7px 14px 0px rgba(0, 0, 0, 0.13);--shadows-8: 0px -1px 16px 0px rgba(0, 0, 0, 0.14);--shadows-9: 0px 9px 18px 0px rgba(0, 0, 0, 0.15);--shadows-10: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);--shadows-11: 0px 11px 22px 0px rgba(0, 0, 0, 0.17);--shadows-12: 0px 12px 24px 0px rgba(0, 0, 0, 0.18);--shadows-13: 0px 13px 26px 0px rgba(0, 0, 0, 0.19);--shadows-14: 0px 14px 28px 0px rgba(0, 0, 0, 0.2);--shadows-15: 0px 15px 30px 0px rgba(0, 0, 0, 0.21);--shadows-16: 0px 16px 32px 0px rgba(0, 0, 0, 0.22);--shadows-17: 0px 17px 34px 0px rgba(0, 0, 0, 0.23);--shadows-18: 0px 18px 36px 0px rgba(0, 0, 0, 0.24);--shadows-19: 0px 19px 38px 0px rgba(0, 0, 0, 0.25);--shadows-20: 0px 20px 40px 0px rgba(0, 0, 0, 0.26);--shadows-21: 0px 21px 42px 0px rgba(0, 0, 0, 0.27);--shadows-22: 0px 22px 44px 0px rgba(0, 0, 0, 0.28);--shadows-23: 0px 23px 46px 0px rgba(0, 0, 0, 0.29);--shadows-24: 0px 24px 48px 0px rgba(0, 0, 0, 0.3);--shape-borderRadius: 4px;--shape-borderRadiusButton: 24px;--shape-borderRadiusChip: 24px;--shape-borderRadiusInputField: 21px;--shape-borderRadiusLarge: 8px;--shape-borderRadiusSmall: 0px;--shape-temp-cardBorderWidth: 0px;--spacing-2XL: 48px;--spacing-2XS: 4px;--spacing-3XL: 64px;--spacing-L: 20px;--spacing-M: 16px;--spacing-S: 12px;--spacing-XL: 32px;--spacing-XS: 8px;--transitions-duration-complex: 0.38s;--transitions-duration-enteringScreen: 0.23s;--transitions-duration-leavingScreen: 0.20s;--transitions-duration-short: 0.25s;--transitions-duration-shorter: 0.20s;--transitions-duration-shortest: 0.15s;--transitions-duration-standard: 0.30s;--transitions-easing-easeIn: cubic-bezier(0.4, 0, 1, 1);--transitions-easing-easeInOut: cubic-bezier(0.4, 0, 0.2, 1);--transitions-easing-easeOut: cubic-bezier(0.0, 0, 0.2, 1);--transitions-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);--typography-body1-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-body1-fontSize: 16px;--typography-body1-fontWeight: 400;--typography-body1-letterSpacing: 0em;--typography-body1-lineHeight: 24px;--typography-body1-textTransform: none;--typography-body2-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-body2-fontSize: 14px;--typography-body2-fontWeight: 400;--typography-body2-letterSpacing: 0em;--typography-body2-lineHeight: 20px;--typography-body2-textTransform: none;--typography-button-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-button-fontSize: 16px;--typography-button-fontWeight: 700;--typography-button-letterSpacing: 0em;--typography-button-lineHeight: 24px;--typography-button-textTransform: none;--typography-caption-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-caption-fontSize: 12px;--typography-caption-fontWeight: 400;--typography-caption-letterSpacing: 0em;--typography-caption-lineHeight: 16px;--typography-caption-textTransform: none;--typography-caption1Big-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-caption1Big-fontSize: 24px;--typography-caption1Big-fontWeight: 700;--typography-caption1Big-letterSpacing: 0em;--typography-caption1Big-lineHeight: 32px;--typography-caption1Big-textTransform: none;--typography-caption1Small-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-caption1Small-fontSize: 18px;--typography-caption1Small-fontWeight: 700;--typography-caption1Small-letterSpacing: 0em;--typography-caption1Small-lineHeight: 24px;--typography-caption1Small-textTransform: none;--typography-caption2Big-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-caption2Big-fontSize: 18px;--typography-caption2Big-fontWeight: 700;--typography-caption2Big-letterSpacing: 0em;--typography-caption2Big-lineHeight: 24px;--typography-caption2Big-textTransform: uppercase;--typography-caption2Small-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-caption2Small-fontSize: 16px;--typography-caption2Small-fontWeight: 700;--typography-caption2Small-letterSpacing: 0em;--typography-caption2Small-lineHeight: 24px;--typography-caption2Small-textTransform: uppercase;--typography-chip-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-chip-fontSize: 14px;--typography-chip-fontWeight: 700;--typography-chip-letterSpacing: 0.05em;--typography-chip-lineHeight: 20px;--typography-chip-textTransform: uppercase;--typography-fontFamily: Averta CY--gsg-extension;--typography-h1-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-h1-fontSize: 32px;--typography-h1-fontWeight: 700;--typography-h1-letterSpacing: 0em;--typography-h1-lineHeight: 40px;--typography-h1-textTransform: none;--typography-h2-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-h2-fontSize: 28px;--typography-h2-fontWeight: 700;--typography-h2-letterSpacing: 0em;--typography-h2-lineHeight: 36px;--typography-h2-textTransform: none;--typography-h3-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-h3-fontSize: 22px;--typography-h3-fontWeight: 700;--typography-h3-letterSpacing: 0em;--typography-h3-lineHeight: 32px;--typography-h3-textTransform: none;--typography-h4-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-h4-fontSize: 18px;--typography-h4-fontWeight: 600;--typography-h4-letterSpacing: 0em;--typography-h4-lineHeight: 24px;--typography-h4-textTransform: none;--typography-h5-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-h5-fontSize: 18px;--typography-h5-fontWeight: 700;--typography-h5-letterSpacing: 0em;--typography-h5-lineHeight: 24px;--typography-h5-textTransform: none;--typography-h6-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-h6-fontSize: 16px;--typography-h6-fontWeight: 700;--typography-h6-letterSpacing: 0em;--typography-h6-lineHeight: 24px;--typography-h6-textTransform: none;--typography-overline-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-overline-fontSize: 12px;--typography-overline-fontWeight: 400;--typography-overline-letterSpacing: 0.1em;--typography-overline-lineHeight: 16px;--typography-overline-textTransform: uppercase;--typography-subtitle1-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-subtitle1-fontSize: 18px;--typography-subtitle1-fontWeight: 400;--typography-subtitle1-letterSpacing: 0em;--typography-subtitle1-lineHeight: 24px;--typography-subtitle1-textTransform: none;--typography-subtitle2-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-subtitle2-fontSize: 12px;--typography-subtitle2-fontWeight: 400;--typography-subtitle2-letterSpacing: 0em;--typography-subtitle2-lineHeight: 16px;--typography-subtitle2-textTransform: none;--typography-tag1-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-tag1-fontSize: 12px;--typography-tag1-fontWeight: 700;--typography-tag1-letterSpacing: 0.025em;--typography-tag1-lineHeight: 16px;--typography-tag1-textTransform: uppercase;--typography-tag2-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-tag2-fontSize: 12px;--typography-tag2-fontWeight: 400;--typography-tag2-letterSpacing: 0.025em;--typography-tag2-lineHeight: 16px;--typography-tag2-textTransform: none;--typography-tooltip-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-tooltip-fontSize: 9.6px;--typography-tooltip-fontWeight: 400;--typography-tooltip-letterSpacing: 0em;--typography-tooltip-lineHeight: 14px;--typography-tooltip-textTransform: none;--typography-voucherTitle-fontFamily: Averta CY--gsg-extension,sans-serif;--typography-voucherTitle-fontSize: 12px;--typography-voucherTitle-fontWeight: 400;--typography-voucherTitle-letterSpacing: 0em;--typography-voucherTitle-lineHeight: 16px;--typography-voucherTitle-textTransform: none;--zIndex-appBar: 1100;--zIndex-drawer: 1200;--zIndex-fab: 1050;--zIndex-mobileStepper: 1000;--zIndex-modal: 1300;--zIndex-snackbar: 1400;--zIndex-speedDial: 1050;--zIndex-tooltip: 1500 }@media(min-width: 648px){:root,:host{--palette-voucherCard-contrastText: #FFFFFF;--palette-voucherCard-contrastTextOnHover: #FFFFFF;--palette-voucherCard-contrastTextOnSecondary: #FFFFFF;--palette-voucherCard-contrastTextOnTertiary: #242628;--palette-voucherCard-hover: #B35500;--palette-voucherCard-main: #FF7900;--palette-voucherCard-secondary: #FF7900;--palette-voucherCard-tertiary: #FFA427;--spacing-2XL: 64px;--spacing-3XL: 88px;--spacing-L: 32px;--spacing-M: 24px;--spacing-S: 16px;--spacing-XL: 48px;--typography-h1-fontSize: 40px;--typography-h1-lineHeight: 48px;--typography-h2-fontSize: 32px;--typography-h2-lineHeight: 40px;--typography-h3-fontSize: 24px;--typography-h4-fontSize: 20px;--typography-h4-lineHeight: 28px;--typography-subtitle2-fontSize: 16px;--typography-subtitle2-lineHeight: 24px;--typography-voucherTitle-fontSize: 18px;--typography-voucherTitle-lineHeight: 24px }}
.lk9xbg0 {
  margin: 0px;
  letter-spacing: 0;
  line-height: 24px;
}
.lk9xbg1 {
  font-family: var(--typography-h1-fontFamily);
  font-size: var(--typography-h1-fontSize);
  font-weight: var(--typography-h1-fontWeight);
  letter-spacing: var(--typography-h1-letterSpacing);
  line-height: var(--typography-h1-lineHeight);
  text-transform: var(--typography-h1-textTransform);
}
.lk9xbg2 {
  font-family: var(--typography-h2-fontFamily);
  font-size: var(--typography-h2-fontSize);
  font-weight: var(--typography-h2-fontWeight);
  letter-spacing: var(--typography-h2-letterSpacing);
  line-height: var(--typography-h2-lineHeight);
  text-transform: var(--typography-h2-textTransform);
}
.lk9xbg3 {
  font-family: var(--typography-h3-fontFamily);
  font-size: var(--typography-h3-fontSize);
  font-weight: var(--typography-h3-fontWeight);
  letter-spacing: var(--typography-h3-letterSpacing);
  line-height: var(--typography-h3-lineHeight);
  text-transform: var(--typography-h3-textTransform);
}
.lk9xbg4 {
  font-family: var(--typography-h4-fontFamily);
  font-size: var(--typography-h4-fontSize);
  font-weight: var(--typography-h4-fontWeight);
  letter-spacing: var(--typography-h4-letterSpacing);
  line-height: var(--typography-h4-lineHeight);
  text-transform: var(--typography-h4-textTransform);
}
.lk9xbg5 {
  font-family: var(--typography-h5-fontFamily);
  font-size: var(--typography-h5-fontSize);
  font-weight: var(--typography-h5-fontWeight);
  letter-spacing: var(--typography-h5-letterSpacing);
  line-height: var(--typography-h5-lineHeight);
  text-transform: var(--typography-h5-textTransform);
}
.lk9xbg6 {
  font-family: var(--typography-h6-fontFamily);
  font-size: var(--typography-h6-fontSize);
  font-weight: var(--typography-h6-fontWeight);
  letter-spacing: var(--typography-h6-letterSpacing);
  line-height: var(--typography-h6-lineHeight);
  text-transform: var(--typography-h6-textTransform);
}
.lk9xbg7 {
  font-family: var(--typography-subtitle1-fontFamily);
  font-size: var(--typography-subtitle1-fontSize);
  font-weight: var(--typography-subtitle1-fontWeight);
  letter-spacing: var(--typography-subtitle1-letterSpacing);
  line-height: var(--typography-subtitle1-lineHeight);
  text-transform: var(--typography-subtitle1-textTransform);
}
.lk9xbg8 {
  font-family: var(--typography-subtitle2-fontFamily);
  font-size: var(--typography-subtitle2-fontSize);
  font-weight: var(--typography-subtitle2-fontWeight);
  letter-spacing: var(--typography-subtitle2-letterSpacing);
  line-height: var(--typography-subtitle2-lineHeight);
  text-transform: var(--typography-subtitle2-textTransform);
}
.lk9xbg9 {
  font-family: var(--typography-body1-fontFamily);
  font-size: var(--typography-body1-fontSize);
  font-weight: var(--typography-body1-fontWeight);
  letter-spacing: var(--typography-body1-letterSpacing);
  line-height: var(--typography-body1-lineHeight);
  text-transform: var(--typography-body1-textTransform);
}
.lk9xbga {
  font-family: var(--typography-body2-fontFamily);
  font-size: var(--typography-body2-fontSize);
  font-weight: var(--typography-body2-fontWeight);
  letter-spacing: var(--typography-body2-letterSpacing);
  line-height: var(--typography-body2-lineHeight);
  text-transform: var(--typography-body2-textTransform);
}
.lk9xbgb {
  font-family: var(--typography-button-fontFamily);
  font-size: var(--typography-button-fontSize);
  font-weight: var(--typography-button-fontWeight);
  letter-spacing: var(--typography-button-letterSpacing);
  line-height: var(--typography-button-lineHeight);
  text-transform: var(--typography-button-textTransform);
}
.lk9xbgc {
  font-family: var(--typography-caption-fontFamily);
  font-size: var(--typography-caption-fontSize);
  font-weight: var(--typography-caption-fontWeight);
  letter-spacing: var(--typography-caption-letterSpacing);
  line-height: var(--typography-caption-lineHeight);
  text-transform: var(--typography-caption-textTransform);
}
.lk9xbgd {
  font-family: var(--typography-overline-fontFamily);
  font-size: var(--typography-overline-fontSize);
  font-weight: var(--typography-overline-fontWeight);
  letter-spacing: var(--typography-overline-letterSpacing);
  line-height: var(--typography-overline-lineHeight);
  text-transform: var(--typography-overline-textTransform);
}
.lk9xbge {
  font-family: var(--typography-voucherTitle-fontFamily);
  font-size: var(--typography-voucherTitle-fontSize);
  font-weight: var(--typography-voucherTitle-fontWeight);
  letter-spacing: var(--typography-voucherTitle-letterSpacing);
  line-height: var(--typography-voucherTitle-lineHeight);
  text-transform: var(--typography-voucherTitle-textTransform);
}
.lk9xbgf {
  font-family: var(--typography-chip-fontFamily);
  font-size: var(--typography-chip-fontSize);
  font-weight: var(--typography-chip-fontWeight);
  letter-spacing: var(--typography-chip-letterSpacing);
  line-height: var(--typography-chip-lineHeight);
  text-transform: var(--typography-chip-textTransform);
}
.lk9xbgg {
  font-family: var(--typography-tag1-fontFamily);
  font-size: var(--typography-tag1-fontSize);
  font-weight: var(--typography-tag1-fontWeight);
  letter-spacing: var(--typography-tag1-letterSpacing);
  line-height: var(--typography-tag1-lineHeight);
  text-transform: var(--typography-tag1-textTransform);
}
.lk9xbgh {
  font-family: var(--typography-tag2-fontFamily);
  font-size: var(--typography-tag2-fontSize);
  font-weight: var(--typography-tag2-fontWeight);
  letter-spacing: var(--typography-tag2-letterSpacing);
  line-height: var(--typography-tag2-lineHeight);
  text-transform: var(--typography-tag2-textTransform);
}
.lk9xbgi {
  font-family: var(--typography-caption1Big-fontFamily);
  font-size: var(--typography-caption1Big-fontSize);
  font-weight: var(--typography-caption1Big-fontWeight);
  letter-spacing: var(--typography-caption1Big-letterSpacing);
  line-height: var(--typography-caption1Big-lineHeight);
  text-transform: var(--typography-caption1Big-textTransform);
}
.lk9xbgj {
  font-family: var(--typography-caption1Small-fontFamily);
  font-size: var(--typography-caption1Small-fontSize);
  font-weight: var(--typography-caption1Small-fontWeight);
  letter-spacing: var(--typography-caption1Small-letterSpacing);
  line-height: var(--typography-caption1Small-lineHeight);
  text-transform: var(--typography-caption1Small-textTransform);
}
.lk9xbgk {
  font-family: var(--typography-caption2Big-fontFamily);
  font-size: var(--typography-caption2Big-fontSize);
  font-weight: var(--typography-caption2Big-fontWeight);
  letter-spacing: var(--typography-caption2Big-letterSpacing);
  line-height: var(--typography-caption2Big-lineHeight);
  text-transform: var(--typography-caption2Big-textTransform);
}
.lk9xbgl {
  font-family: var(--typography-caption2Small-fontFamily);
  font-size: var(--typography-caption2Small-fontSize);
  font-weight: var(--typography-caption2Small-fontWeight);
  letter-spacing: var(--typography-caption2Small-letterSpacing);
  line-height: var(--typography-caption2Small-lineHeight);
  text-transform: var(--typography-caption2Small-textTransform);
}
.lk9xbgm {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.lk9xbgn {
  color: var(--palette-text-primary);
}
.lk9xbgo {
  color: var(--palette-text-secondary);
}
.lk9xbgp {
  color: var(--palette-text-hint);
}
.lk9xbgq {
  color: var(--palette-interaction-main);
}
.lk9xbgr {
  color: var(--palette-primary-main);
}
.lk9xbgs {
  color: var(--palette-secondary-main);
}
.lk9xbgt {
  color: white;
}
.tuwh4o0 {
  display: inline-block;
  height: 1em;
  width: 1em;
  -webkit-mask-image: var(--mask-image);
          mask-image: var(--mask-image);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.tuwh4o1 {
  font-size: 20px;
}
.tuwh4o2 {
  font-size: 24px;
}
.tuwh4o3 {
  font-size: 35px;
}
.tuwh4o4 {
  font-size: inherit;
}
.tuwh4o5 {
  background-color: currentColor;
}
.tuwh4o6 {
  background-color: var(--palette-common-white);
}
.tuwh4o7 {
  background-color: var(--palette-common-black);
}
.tuwh4o8 {
  background-color: var(--palette-primary-main);
}
.tuwh4o9 {
  background-color: var(--palette-secondary-main);
}
.tuwh4oa {
  background-color: var(--palette-success-main);
}
.tuwh4ob {
  background-color: var(--palette-error-main);
}
.tuwh4oc {
  background-color: var(--palette-warning-main);
}
.tuwh4od {
  background-color: var(--palette-info-main);
}
.tuwh4oe {
  background-color: var(--palette-action-active);
}
.tuwh4of {
  background-color: var(--palette-action-disabled);
}
._1pxk3nb1 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}
._1pxk3nb2 {
  font-family: var(--typography-body1-fontFamily);
  font-size: var(--typography-body1-fontSize);
  font-weight: var(--typography-body1-fontWeight);
  letter-spacing: var(--typography-body1-letterSpacing);
  line-height: var(--typography-body1-lineHeight);
  text-transform: var(--typography-body1-textTransform);
}
._1pxk3nb3 {
  font-family: var(--typography-body2-fontFamily);
  font-size: var(--typography-body2-fontSize);
  font-weight: var(--typography-body2-fontWeight);
  letter-spacing: var(--typography-body2-letterSpacing);
  line-height: var(--typography-body2-lineHeight);
  text-transform: var(--typography-body2-textTransform);
}
._1pxk3nb4 {
  font-family: var(--typography-button-fontFamily);
  font-size: var(--typography-button-fontSize);
  font-weight: var(--typography-button-fontWeight);
  letter-spacing: var(--typography-button-letterSpacing);
  line-height: var(--typography-button-lineHeight);
  text-transform: var(--typography-button-textTransform);
}
._1pxk3nb5 {
  font-family: var(--typography-caption-fontFamily);
  font-size: var(--typography-caption-fontSize);
  font-weight: var(--typography-caption-fontWeight);
  letter-spacing: var(--typography-caption-letterSpacing);
  line-height: var(--typography-caption-lineHeight);
  text-transform: var(--typography-caption-textTransform);
}
._1pxk3nb6 {
  font-family: var(--typography-caption1Big-fontFamily);
  font-size: var(--typography-caption1Big-fontSize);
  font-weight: var(--typography-caption1Big-fontWeight);
  letter-spacing: var(--typography-caption1Big-letterSpacing);
  line-height: var(--typography-caption1Big-lineHeight);
  text-transform: var(--typography-caption1Big-textTransform);
}
._1pxk3nb7 {
  font-family: var(--typography-caption1Small-fontFamily);
  font-size: var(--typography-caption1Small-fontSize);
  font-weight: var(--typography-caption1Small-fontWeight);
  letter-spacing: var(--typography-caption1Small-letterSpacing);
  line-height: var(--typography-caption1Small-lineHeight);
  text-transform: var(--typography-caption1Small-textTransform);
}
._1pxk3nb8 {
  font-family: var(--typography-caption2Big-fontFamily);
  font-size: var(--typography-caption2Big-fontSize);
  font-weight: var(--typography-caption2Big-fontWeight);
  letter-spacing: var(--typography-caption2Big-letterSpacing);
  line-height: var(--typography-caption2Big-lineHeight);
  text-transform: var(--typography-caption2Big-textTransform);
}
._1pxk3nb9 {
  font-family: var(--typography-caption2Small-fontFamily);
  font-size: var(--typography-caption2Small-fontSize);
  font-weight: var(--typography-caption2Small-fontWeight);
  letter-spacing: var(--typography-caption2Small-letterSpacing);
  line-height: var(--typography-caption2Small-lineHeight);
  text-transform: var(--typography-caption2Small-textTransform);
}
._1pxk3nba {
  font-family: var(--typography-chip-fontFamily);
  font-size: var(--typography-chip-fontSize);
  font-weight: var(--typography-chip-fontWeight);
  letter-spacing: var(--typography-chip-letterSpacing);
  line-height: var(--typography-chip-lineHeight);
  text-transform: var(--typography-chip-textTransform);
}
._1pxk3nbb {
  font-family: var(--typography-h1-fontFamily);
  font-size: var(--typography-h1-fontSize);
  font-weight: var(--typography-h1-fontWeight);
  letter-spacing: var(--typography-h1-letterSpacing);
  line-height: var(--typography-h1-lineHeight);
  text-transform: var(--typography-h1-textTransform);
}
._1pxk3nbc {
  font-family: var(--typography-h2-fontFamily);
  font-size: var(--typography-h2-fontSize);
  font-weight: var(--typography-h2-fontWeight);
  letter-spacing: var(--typography-h2-letterSpacing);
  line-height: var(--typography-h2-lineHeight);
  text-transform: var(--typography-h2-textTransform);
}
._1pxk3nbd {
  font-family: var(--typography-h3-fontFamily);
  font-size: var(--typography-h3-fontSize);
  font-weight: var(--typography-h3-fontWeight);
  letter-spacing: var(--typography-h3-letterSpacing);
  line-height: var(--typography-h3-lineHeight);
  text-transform: var(--typography-h3-textTransform);
}
._1pxk3nbe {
  font-family: var(--typography-h4-fontFamily);
  font-size: var(--typography-h4-fontSize);
  font-weight: var(--typography-h4-fontWeight);
  letter-spacing: var(--typography-h4-letterSpacing);
  line-height: var(--typography-h4-lineHeight);
  text-transform: var(--typography-h4-textTransform);
}
._1pxk3nbf {
  font-family: var(--typography-h5-fontFamily);
  font-size: var(--typography-h5-fontSize);
  font-weight: var(--typography-h5-fontWeight);
  letter-spacing: var(--typography-h5-letterSpacing);
  line-height: var(--typography-h5-lineHeight);
  text-transform: var(--typography-h5-textTransform);
}
._1pxk3nbg {
  font-family: var(--typography-h6-fontFamily);
  font-size: var(--typography-h6-fontSize);
  font-weight: var(--typography-h6-fontWeight);
  letter-spacing: var(--typography-h6-letterSpacing);
  line-height: var(--typography-h6-lineHeight);
  text-transform: var(--typography-h6-textTransform);
}
._1pxk3nbh {
  font-family: var(--typography-overline-fontFamily);
  font-size: var(--typography-overline-fontSize);
  font-weight: var(--typography-overline-fontWeight);
  letter-spacing: var(--typography-overline-letterSpacing);
  line-height: var(--typography-overline-lineHeight);
  text-transform: var(--typography-overline-textTransform);
}
._1pxk3nbi {
  font-family: var(--typography-subtitle1-fontFamily);
  font-size: var(--typography-subtitle1-fontSize);
  font-weight: var(--typography-subtitle1-fontWeight);
  letter-spacing: var(--typography-subtitle1-letterSpacing);
  line-height: var(--typography-subtitle1-lineHeight);
  text-transform: var(--typography-subtitle1-textTransform);
}
._1pxk3nbj {
  font-family: var(--typography-subtitle2-fontFamily);
  font-size: var(--typography-subtitle2-fontSize);
  font-weight: var(--typography-subtitle2-fontWeight);
  letter-spacing: var(--typography-subtitle2-letterSpacing);
  line-height: var(--typography-subtitle2-lineHeight);
  text-transform: var(--typography-subtitle2-textTransform);
}
._1pxk3nbk {
  font-family: var(--typography-tag1-fontFamily);
  font-size: var(--typography-tag1-fontSize);
  font-weight: var(--typography-tag1-fontWeight);
  letter-spacing: var(--typography-tag1-letterSpacing);
  line-height: var(--typography-tag1-lineHeight);
  text-transform: var(--typography-tag1-textTransform);
}
._1pxk3nbl {
  font-family: var(--typography-tag2-fontFamily);
  font-size: var(--typography-tag2-fontSize);
  font-weight: var(--typography-tag2-fontWeight);
  letter-spacing: var(--typography-tag2-letterSpacing);
  line-height: var(--typography-tag2-lineHeight);
  text-transform: var(--typography-tag2-textTransform);
}
._1pxk3nbm {
  font-family: var(--typography-tooltip-fontFamily);
  font-size: var(--typography-tooltip-fontSize);
  font-weight: var(--typography-tooltip-fontWeight);
  letter-spacing: var(--typography-tooltip-letterSpacing);
  line-height: var(--typography-tooltip-lineHeight);
  text-transform: var(--typography-tooltip-textTransform);
}
._1pxk3nbn {
  font-family: var(--typography-voucherTitle-fontFamily);
  font-size: var(--typography-voucherTitle-fontSize);
  font-weight: var(--typography-voucherTitle-fontWeight);
  letter-spacing: var(--typography-voucherTitle-letterSpacing);
  line-height: var(--typography-voucherTitle-lineHeight);
  text-transform: var(--typography-voucherTitle-textTransform);
}
._1pxk3nbo {
  text-decoration: none;
}
._1pxk3nbo:hover {
  text-decoration: underline;
}
._1pxk3nbp {
  text-decoration: none;
}
._1pxk3nbq {
  text-decoration: underline;
}
._1pxk3nbr {
  color: inherit;
}
._1pxk3nbs {
  color: var(--palette-interaction-main);
}
._1pxk3nbt {
  color: var(--palette-primary-main);
}
._1pxk3nbu {
  color: var(--palette-text-primary);
}
.w9k87f0 {
  color: var(--palette-text-primary);
  background-color: var(--palette-background-paper);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.w9k87f1 {
  border-radius: none;
}
.w9k87f2 {
  border-radius: var(--shape-borderRadius);
}
.w9k87f3 {
  border-width: var(--borderWidth-regular);
  border-style: solid;
  border-color: var(--palette-borderColor);
}
.w9k87f4 {
  box-shadow: var(--shadows-0);
}
.w9k87f5 {
  box-shadow: var(--shadows-1);
}
.w9k87f6 {
  box-shadow: var(--shadows-2);
}
.w9k87f7 {
  box-shadow: var(--shadows-3);
}
.w9k87f8 {
  box-shadow: var(--shadows-4);
}
.w9k87f9 {
  box-shadow: var(--shadows-5);
}
.w9k87fa {
  box-shadow: var(--shadows-6);
}
.w9k87fb {
  box-shadow: var(--shadows-7);
}
.w9k87fc {
  box-shadow: var(--shadows-8);
}
.w9k87fd {
  box-shadow: var(--shadows-9);
}
.w9k87fe {
  box-shadow: var(--shadows-10);
}
.w9k87ff {
  box-shadow: var(--shadows-11);
}
.w9k87fg {
  box-shadow: var(--shadows-12);
}
.w9k87fh {
  box-shadow: var(--shadows-13);
}
.w9k87fi {
  box-shadow: var(--shadows-14);
}
.w9k87fj {
  box-shadow: var(--shadows-15);
}
.w9k87fk {
  box-shadow: var(--shadows-16);
}
.w9k87fl {
  box-shadow: var(--shadows-17);
}
.w9k87fm {
  box-shadow: var(--shadows-18);
}
.w9k87fn {
  box-shadow: var(--shadows-19);
}
.w9k87fo {
  box-shadow: var(--shadows-20);
}
.w9k87fp {
  box-shadow: var(--shadows-21);
}
.w9k87fq {
  box-shadow: var(--shadows-22);
}
.w9k87fr {
  box-shadow: var(--shadows-23);
}
.w9k87fs {
  box-shadow: var(--shadows-24);
}
._1467q080 {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
._1467q081 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1467q082 {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
._1467q083 {
  color: var(--palette-primary-contrastText);
  background-color: var(--palette-primary-main);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline-color: var(--palette-primary-dark);
}
._1467q083:focus {
  background-color: var(--palette-primary-dark);
  box-shadow: var(--shadows-4);
}
._1467q083:hover {
  background-color: var(--palette-primary-dark);
  box-shadow: var(--shadows-4);
}
._1467q084 {
  color: var(--palette-primary-main);
  background-color: var(--palette-primary-contrastText);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline: 0;
}
._1467q084:focus {
  background: linear-gradient(0deg, var(--palette-action-hover), var(--palette-action-hover)), var(--palette-primary-contrastText);
  box-shadow: var(--shadows-4);
}
._1467q084:hover {
  background: linear-gradient(0deg, var(--palette-action-hover), var(--palette-action-hover)), var(--palette-primary-contrastText);
  box-shadow: var(--shadows-4);
}
._1467q085 {
  color: var(--palette-secondary-contrastText);
  background-color: var(--palette-secondary-main);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline-color: var(--palette-secondary-dark);
}
._1467q085:focus {
  background-color: var(--palette-secondary-dark);
  box-shadow: var(--shadows-4);
}
._1467q085:hover {
  background-color: var(--palette-secondary-dark);
  box-shadow: var(--shadows-4);
}
._1467q086 {
  color: var(--palette-secondary-main);
  background-color: var(--palette-secondary-contrastText);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline: 0;
}
._1467q086:focus {
  background: linear-gradient(0deg, var(--palette-action-hover), var(--palette-action-hover)), var(--palette-primary-contrastText);
  box-shadow: var(--shadows-4);
}
._1467q086:hover {
  background: linear-gradient(0deg, var(--palette-action-hover), var(--palette-action-hover)), var(--palette-primary-contrastText);
  box-shadow: var(--shadows-4);
}
._1467q087 {
  color: var(--palette-common-white);
  background-color: var(--palette-tertiary-main);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline-color: var(--palette-tertiary-dark);
}
._1467q087:focus {
  background: var(--palette-tertiary-dark);
  box-shadow: var(--shadows-2);
}
._1467q087:hover {
  background: var(--palette-tertiary-dark);
  box-shadow: var(--shadows-2);
}
._1467q088 {
  color: var(--palette-tertiary-main);
  background-color: var(--palette-common-white);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline: 0;
}
._1467q089 {
  color: var(--palette-interaction-contrastText);
  background-color: var(--palette-interaction-main);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline-color: var(--palette-interaction-dark);
}
._1467q089:focus {
  background-color: var(--palette-interaction-dark);
  box-shadow: var(--shadows-4);
}
._1467q089:hover {
  background-color: var(--palette-interaction-dark);
  box-shadow: var(--shadows-4);
}
._1467q08a {
  color: var(--palette-interaction-main);
  background-color: var(--palette-interaction-contrastText);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline: 0;
}
._1467q08a:focus {
  background: linear-gradient(0deg, var(--palette-action-hover), var(--palette-action-hover)), var(--palette-interaction-contrastText);
  box-shadow: var(--shadows-4);
}
._1467q08a:hover {
  background: linear-gradient(0deg, var(--palette-action-hover), var(--palette-action-hover)), var(--palette-interaction-contrastText);
  box-shadow: var(--shadows-4);
}
._1467q08b {
  color: inherit;
  background-color: var(--palette-grey-300);
  box-shadow: var(--shadows-2);
  border: var(--borderWidth-regular) solid transparent;
  outline-color: inherit;
}
._1467q08c {
  color: var(--palette-primary-main);
  border-color: var(--palette-primary-main);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline-color: var(--palette-primary-main);
}
._1467q08c:focus {
  background-color: var(--palette-action-hover);
}
._1467q08c:hover {
  background-color: var(--palette-action-hover);
}
._1467q08d {
  color: var(--palette-primary-contrastText);
  border-color: var(--palette-primary-contrastText);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline: 0;
}
._1467q08d:focus {
  background: var(--palette-action-hover);
}
._1467q08d:hover {
  background: var(--palette-action-hover);
}
._1467q08e {
  color: var(--palette-secondary-main);
  border-color: var(--palette-secondary-main);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline-color: var(--palette-secondary-main);
}
._1467q08e:focus {
  background-color: var(--palette-action-hover);
}
._1467q08e:hover {
  background-color: var(--palette-action-hover);
}
._1467q08f {
  color: var(--palette-secondary-contrastText);
  border-color: var(--palette-secondary-contrastText);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline: 0;
}
._1467q08f:focus {
  background: var(--palette-action-hover);
}
._1467q08f:hover {
  background: var(--palette-action-hover);
}
._1467q08g {
  color: var(--palette-tertiary-dark);
  border-color: var(--palette-tertiary-main);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline-color: var(--palette-tertiary-main);
}
._1467q08g:focus {
  background: var(--palette-action-hover);
}
._1467q08g:hover {
  background: var(--palette-action-hover);
}
._1467q08h {
  color: var(--palette-common-white);
  border-color: var(--palette-common-white);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline: 0;
}
._1467q08h:focus {
  background: var(--palette-action-hover);
}
._1467q08h:hover {
  background: var(--palette-action-hover);
}
._1467q08i {
  color: var(--palette-interaction-main);
  border-color: var(--palette-interaction-main);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline-color: var(--palette-primary-main);
}
._1467q08i:focus {
  background-color: var(--palette-action-hover);
}
._1467q08i:hover {
  background-color: var(--palette-action-hover);
}
._1467q08j {
  color: var(--palette-interaction-contrastText);
  border-color: var(--palette-interaction-contrastText);
  border-style: solid;
  border-width: var(--borderWidth-regular);
  background-color: transparent;
  outline: 0;
}
._1467q08j:focus {
  background: var(--palette-action-hover);
}
._1467q08j:hover {
  background: var(--palette-action-hover);
}
._1467q08k {
  color: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: var(--borderWidth-regular);
  border-radius: var(--shape-borderRadiusButton);
  background-color: transparent;
  outline-color: inherit;
}
._1467q08l {
  color: var(--palette-primary-main);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08l:focus {
  background-color: var(--palette-action-hover);
}
._1467q08l:hover {
  background-color: var(--palette-action-hover);
}
._1467q08m {
  color: var(--palette-primary-contrastText);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08m:focus {
  background-color: var(--palette-action-hover);
}
._1467q08m:hover {
  background-color: var(--palette-action-hover);
}
._1467q08n {
  color: var(--palette-secondary-main);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08n:focus {
  background-color: var(--palette-action-hover);
}
._1467q08n:hover {
  background-color: var(--palette-action-hover);
}
._1467q08o {
  color: var(--palette-secondary-contrastText);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08o:focus {
  background-color: var(--palette-action-hover);
}
._1467q08o:hover {
  background-color: var(--palette-action-hover);
}
._1467q08p {
  color: var(--palette-interaction-main);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08p:focus {
  background-color: var(--palette-action-hover);
}
._1467q08p:hover {
  background-color: var(--palette-action-hover);
}
._1467q08q {
  color: var(--palette-interaction-contrastText);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08q:focus {
  background-color: var(--palette-action-hover);
}
._1467q08q:hover {
  background-color: var(--palette-action-hover);
}
._1467q08r {
  color: var(--palette-tertiary-dark);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08r:focus {
  background-color: var(--palette-action-hover);
}
._1467q08r:hover {
  background-color: var(--palette-action-hover);
}
._1467q08s {
  color: var(--palette-common-white);
  background-color: transparent;
  border: none;
  outline: 0;
}
._1467q08t {
  color: inherit;
  background-color: transparent;
  border: none;
  outline-color: inherit;
}
._1467q08t:focus {
  background-color: var(--palette-action-hover);
}
._1467q08t:hover {
  background-color: var(--palette-action-hover);
}
._1467q08u {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: 296px;
  min-width: 69px;
  font-family: var(--typography-button-fontFamily);
  font-weight: var(--typography-button-fontWeight);
  letter-spacing: var(--typography-button-letterSpacing);
  line-height: var(--typography-button-lineHeight);
  text-transform: var(--typography-button-textTransform);
  cursor: pointer;
  vertical-align: middle;
  border-radius: var(--shape-borderRadiusButton);
}
._1467q0815 {
  font-size: 13px;
}
._1467q0816 {
  font-size: 15px;
}
._1467q0817 {
  width: 100%;
  max-width: 100%;
}
._1467q0819 {
  pointer-events: none;
  cursor: default;
}
._1467q081e {
  padding: calc(3px + var(--borderWidth-regular)) calc(4px + var(--borderWidth-regular));
}
._1467q081f {
  padding: 3px 4px;
}
._1467q081g {
  padding: calc(3px + var(--borderWidth-regular)) calc(4px + var(--borderWidth-regular));
}
._1467q081h {
  padding: calc(10px + var(--borderWidth-regular)) calc(10px + var(--borderWidth-regular));
}
._1467q081i {
  padding: 10px 10px;
}
._1467q081j {
  padding: calc(10px + var(--borderWidth-regular)) calc(10px + var(--borderWidth-regular));
}
._1467q081k {
  color: var(--palette-action-disabled);
  background-color: var(--palette-action-disabledBackground);
}
._1467q081l {
  color: var(--palette-action-disabled);
  background: linear-gradient(0deg, var(--palette-action-disabledBackground), var(--palette-action-disabledBackground)), var(--palette-primary-contrastText);
}
._1467q081m {
  color: var(--palette-action-disabled);
  border-color: var(--palette-action-disabled);
  background: transparent;
}
._1467q081n {
  color: var(--palette-action-disabled);
  background-color: transparent;
}
@media (min-width: 0px) {
  ._1467q081b {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 648px) {
  ._1467q081b {
    width: unset;
    max-width: unset;
  }
  ._1467q081c {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  ._1467q081c {
    width: unset;
    max-width: unset;
  }
  ._1467q081d {
    width: 100%;
    max-width: 100%;
  }
}
