@font-face {
  font-display: swap;
  font-family: "Averta CY--gsg-extension";
  font-weight: 700;
  src: url("/public/fonts/AvertaCY/bold.woff2") format("woff2");
}
@font-face {
  font-family: "Averta CY--gsg-extension";
  src: url("/public/fonts/AvertaCY/medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Averta CY--gsg-extension";
  src: url("/public/fonts/AvertaCY/normal.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Averta CY--gsg-extension";
  src: url("/public/fonts/AvertaCY/semi-bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}