@charset "UTF-8";
:root, :host {
  --borderWidth-large: 2px;
  --borderWidth-regular: 1px;
  --containerWidth-ctaWidth: 210px;
  --containerWidth-cutSize: 24px;
  --containerWidth-default: 1210px;
  --containerWidth-seoContent: 640px;
  --iconType: Sharp;
  --palette-action-active: rgba(36, 38, 40, 0.54);
  --palette-action-disabled: rgba(36, 38, 40, 0.26);
  --palette-action-disabledBackground: rgba(36, 38, 40, 0.12);
  --palette-action-focus: rgba(36, 38, 40, 0.12);
  --palette-action-hover: rgba(36, 38, 40, 0.04);
  --palette-action-selected: rgba(36, 38, 40, 0.08);
  --palette-background-default: #E9EAED;
  --palette-background-paper: #FFFFFF;
  --palette-borderColor: #D6D8DB;
  --palette-common-black: #000000;
  --palette-common-white: #FFFFFF;
  --palette-divider: #D6D8DB;
  --palette-error-contrastText: #FFFFFF;
  --palette-error-contrastTextOnDark: #FFFFFF;
  --palette-error-contrastTextOnLight: #FFFFFF;
  --palette-error-dark: rgb(142, 0, 0);
  --palette-error-light: rgb(214, 51, 51);
  --palette-error-main: #CC0000;
  --palette-grey-50: #F7F7F8;
  --palette-grey-100: #F2F2F3;
  --palette-grey-200: #ECEDEE;
  --palette-grey-300: #D6D8DB;
  --palette-grey-400: #C1C4C8;
  --palette-grey-500: #AEB2B7;
  --palette-grey-600: #9EA2A8;
  --palette-grey-700: #8F949B;
  --palette-grey-800: #3A3C40;
  --palette-grey-900: #242628;
  --palette-grey-A100: #D1D5D9;
  --palette-grey-A200: #A2A9B2;
  --palette-grey-A400: #58606A;
  --palette-grey-A700: #2C3034;
  --palette-heroHeaderBackground: transparent;
  --palette-info-contrastText: #FFFFFF;
  --palette-info-contrastTextOnDark: #FFFFFF;
  --palette-info-contrastTextOnLight: #FFFFFF;
  --palette-info-dark: #01579B;
  --palette-info-light: #03A9F4;
  --palette-info-main: #0288D1;
  --palette-interaction-contrastText: #FFFFFF;
  --palette-interaction-contrastTextOnDark: #FFFFFF;
  --palette-interaction-contrastTextOnLight: #242628;
  --palette-interaction-dark: #803C00;
  --palette-interaction-light: #FF9433;
  --palette-interaction-main: #FF7900;
  --palette-menuColor: #BD5A00;
  --palette-primary-contrastText: #FFFFFF;
  --palette-primary-contrastTextOnDark: #FFFFFF;
  --palette-primary-contrastTextOnLight: #242628;
  --palette-primary-dark: #803C00;
  --palette-primary-light: #FF9433;
  --palette-primary-main: #FF7900;
  --palette-secondary-contrastText: #FFFFFF;
  --palette-secondary-contrastTextOnDark: #FFFFFF;
  --palette-secondary-contrastTextOnLight: #242628;
  --palette-secondary-dark: #242628;
  --palette-secondary-light: #AEB1B7;
  --palette-secondary-main: #35373B;
  --palette-sectionBackground: transparent;
  --palette-success-contrastText: #FFFFFF;
  --palette-success-contrastTextOnDark: #FFFFFF;
  --palette-success-contrastTextOnLight: #FFFFFF;
  --palette-success-dark: rgb(33, 84, 11);
  --palette-success-light: rgb(89, 147, 64);
  --palette-success-main: #307911;
  --palette-sustainability-background: #EDFEF2;
  --palette-sustainability-dark: #1D522C;
  --palette-sustainability-main: #2EB755;
  --palette-sustainability-text: #1D522C;
  --palette-temp-bannerLinkBackgroundColor: rgba(36, 38, 40, 0.8);
  --palette-temp-shopLinkTextBorderColor: rgba(255, 121, 0, 0.5);
  --palette-temp-shopLinkTextHoverBackground: rgba(255, 121, 0, 0.04);
  --palette-temp-textBannerBackground: rgba(255, 255, 255, 0.8);
  --palette-tertiary-contrastText: #FFFFFF;
  --palette-tertiary-contrastTextOnDark: #FFFFFF;
  --palette-tertiary-contrastTextOnLight: #242628;
  --palette-tertiary-dark: #990024;
  --palette-tertiary-light: #FF668A;
  --palette-tertiary-main: #E00034;
  --palette-text-disabled: #C1C4C8;
  --palette-text-hint: #C1C4C8;
  --palette-text-primary: #242628;
  --palette-text-secondary: #8F949B;
  --palette-voucherCard-contrastText: #FFFFFF;
  --palette-voucherCard-contrastTextOnHover: #FFFFFF;
  --palette-voucherCard-contrastTextOnSecondary: #FFFFFF;
  --palette-voucherCard-contrastTextOnTertiary: #242628;
  --palette-voucherCard-hover: #B35500;
  --palette-voucherCard-main: #FF7900;
  --palette-voucherCard-secondary: #FF7900;
  --palette-voucherCard-tertiary: #FFA427;
  --palette-warning-contrastText: #FFFFFF;
  --palette-warning-contrastTextOnDark: #FFFFFF;
  --palette-warning-contrastTextOnLight: #FFFFFF;
  --palette-warning-dark: #E65100;
  --palette-warning-light: #FF9800;
  --palette-warning-main: #ED6C02;
  --shadows-0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --shadows-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
  --shadows-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  --shadows-3: 0px 3px 6px 0px rgba(0, 0, 0, 0.09);
  --shadows-4: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --shadows-5: 0px 5px 10px 0px rgba(0, 0, 0, 0.11);
  --shadows-6: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  --shadows-7: 0px 7px 14px 0px rgba(0, 0, 0, 0.13);
  --shadows-8: 0px -1px 16px 0px rgba(0, 0, 0, 0.14);
  --shadows-9: 0px 9px 18px 0px rgba(0, 0, 0, 0.15);
  --shadows-10: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  --shadows-11: 0px 11px 22px 0px rgba(0, 0, 0, 0.17);
  --shadows-12: 0px 12px 24px 0px rgba(0, 0, 0, 0.18);
  --shadows-13: 0px 13px 26px 0px rgba(0, 0, 0, 0.19);
  --shadows-14: 0px 14px 28px 0px rgba(0, 0, 0, 0.2);
  --shadows-15: 0px 15px 30px 0px rgba(0, 0, 0, 0.21);
  --shadows-16: 0px 16px 32px 0px rgba(0, 0, 0, 0.22);
  --shadows-17: 0px 17px 34px 0px rgba(0, 0, 0, 0.23);
  --shadows-18: 0px 18px 36px 0px rgba(0, 0, 0, 0.24);
  --shadows-19: 0px 19px 38px 0px rgba(0, 0, 0, 0.25);
  --shadows-20: 0px 20px 40px 0px rgba(0, 0, 0, 0.26);
  --shadows-21: 0px 21px 42px 0px rgba(0, 0, 0, 0.27);
  --shadows-22: 0px 22px 44px 0px rgba(0, 0, 0, 0.28);
  --shadows-23: 0px 23px 46px 0px rgba(0, 0, 0, 0.29);
  --shadows-24: 0px 24px 48px 0px rgba(0, 0, 0, 0.3);
  --shape-borderRadius: 4px;
  --shape-borderRadiusButton: 24px;
  --shape-borderRadiusChip: 24px;
  --shape-borderRadiusInputField: 21px;
  --shape-borderRadiusLarge: 8px;
  --shape-borderRadiusSmall: 0px;
  --shape-temp-cardBorderWidth: 0px;
  --spacing-2XL: 48px;
  --spacing-2XS: 4px;
  --spacing-3XL: 64px;
  --spacing-L: 20px;
  --spacing-M: 16px;
  --spacing-S: 12px;
  --spacing-XL: 32px;
  --spacing-XS: 8px;
  --transitions-duration-complex: 0.38s;
  --transitions-duration-enteringScreen: 0.23s;
  --transitions-duration-leavingScreen: 0.20s;
  --transitions-duration-short: 0.25s;
  --transitions-duration-shorter: 0.20s;
  --transitions-duration-shortest: 0.15s;
  --transitions-duration-standard: 0.30s;
  --transitions-easing-easeIn: cubic-bezier(0.4, 0, 1, 1);
  --transitions-easing-easeInOut: cubic-bezier(0.4, 0, 0.2, 1);
  --transitions-easing-easeOut: cubic-bezier(0.0, 0, 0.2, 1);
  --transitions-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
  --typography-body1-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-body1-fontSize: 16px;
  --typography-body1-fontWeight: 400;
  --typography-body1-letterSpacing: 0em;
  --typography-body1-lineHeight: 24px;
  --typography-body1-textTransform: none;
  --typography-body2-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-body2-fontSize: 14px;
  --typography-body2-fontWeight: 400;
  --typography-body2-letterSpacing: 0em;
  --typography-body2-lineHeight: 20px;
  --typography-body2-textTransform: none;
  --typography-button-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-button-fontSize: 16px;
  --typography-button-fontWeight: 700;
  --typography-button-letterSpacing: 0em;
  --typography-button-lineHeight: 24px;
  --typography-button-textTransform: none;
  --typography-caption-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-caption-fontSize: 12px;
  --typography-caption-fontWeight: 400;
  --typography-caption-letterSpacing: 0em;
  --typography-caption-lineHeight: 16px;
  --typography-caption-textTransform: none;
  --typography-caption1Big-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-caption1Big-fontSize: 24px;
  --typography-caption1Big-fontWeight: 700;
  --typography-caption1Big-letterSpacing: 0em;
  --typography-caption1Big-lineHeight: 32px;
  --typography-caption1Big-textTransform: none;
  --typography-caption1Small-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-caption1Small-fontSize: 18px;
  --typography-caption1Small-fontWeight: 700;
  --typography-caption1Small-letterSpacing: 0em;
  --typography-caption1Small-lineHeight: 24px;
  --typography-caption1Small-textTransform: none;
  --typography-caption2Big-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-caption2Big-fontSize: 18px;
  --typography-caption2Big-fontWeight: 700;
  --typography-caption2Big-letterSpacing: 0em;
  --typography-caption2Big-lineHeight: 24px;
  --typography-caption2Big-textTransform: uppercase;
  --typography-caption2Small-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-caption2Small-fontSize: 16px;
  --typography-caption2Small-fontWeight: 700;
  --typography-caption2Small-letterSpacing: 0em;
  --typography-caption2Small-lineHeight: 24px;
  --typography-caption2Small-textTransform: uppercase;
  --typography-chip-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-chip-fontSize: 14px;
  --typography-chip-fontWeight: 700;
  --typography-chip-letterSpacing: 0.05em;
  --typography-chip-lineHeight: 20px;
  --typography-chip-textTransform: uppercase;
  --typography-fontFamily: Averta CY--gsg-extension;
  --typography-h1-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-h1-fontSize: 32px;
  --typography-h1-fontWeight: 700;
  --typography-h1-letterSpacing: 0em;
  --typography-h1-lineHeight: 40px;
  --typography-h1-textTransform: none;
  --typography-h2-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-h2-fontSize: 28px;
  --typography-h2-fontWeight: 700;
  --typography-h2-letterSpacing: 0em;
  --typography-h2-lineHeight: 36px;
  --typography-h2-textTransform: none;
  --typography-h3-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-h3-fontSize: 22px;
  --typography-h3-fontWeight: 700;
  --typography-h3-letterSpacing: 0em;
  --typography-h3-lineHeight: 32px;
  --typography-h3-textTransform: none;
  --typography-h4-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-h4-fontSize: 18px;
  --typography-h4-fontWeight: 600;
  --typography-h4-letterSpacing: 0em;
  --typography-h4-lineHeight: 24px;
  --typography-h4-textTransform: none;
  --typography-h5-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-h5-fontSize: 18px;
  --typography-h5-fontWeight: 700;
  --typography-h5-letterSpacing: 0em;
  --typography-h5-lineHeight: 24px;
  --typography-h5-textTransform: none;
  --typography-h6-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-h6-fontSize: 16px;
  --typography-h6-fontWeight: 700;
  --typography-h6-letterSpacing: 0em;
  --typography-h6-lineHeight: 24px;
  --typography-h6-textTransform: none;
  --typography-overline-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-overline-fontSize: 12px;
  --typography-overline-fontWeight: 400;
  --typography-overline-letterSpacing: 0.1em;
  --typography-overline-lineHeight: 16px;
  --typography-overline-textTransform: uppercase;
  --typography-subtitle1-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-subtitle1-fontSize: 18px;
  --typography-subtitle1-fontWeight: 400;
  --typography-subtitle1-letterSpacing: 0em;
  --typography-subtitle1-lineHeight: 24px;
  --typography-subtitle1-textTransform: none;
  --typography-subtitle2-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-subtitle2-fontSize: 12px;
  --typography-subtitle2-fontWeight: 400;
  --typography-subtitle2-letterSpacing: 0em;
  --typography-subtitle2-lineHeight: 16px;
  --typography-subtitle2-textTransform: none;
  --typography-tag1-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-tag1-fontSize: 12px;
  --typography-tag1-fontWeight: 700;
  --typography-tag1-letterSpacing: 0.025em;
  --typography-tag1-lineHeight: 16px;
  --typography-tag1-textTransform: uppercase;
  --typography-tag2-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-tag2-fontSize: 12px;
  --typography-tag2-fontWeight: 400;
  --typography-tag2-letterSpacing: 0.025em;
  --typography-tag2-lineHeight: 16px;
  --typography-tag2-textTransform: none;
  --typography-tooltip-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-tooltip-fontSize: 9.6px;
  --typography-tooltip-fontWeight: 400;
  --typography-tooltip-letterSpacing: 0em;
  --typography-tooltip-lineHeight: 14px;
  --typography-tooltip-textTransform: none;
  --typography-voucherTitle-fontFamily: Averta CY--gsg-extension,sans-serif;
  --typography-voucherTitle-fontSize: 12px;
  --typography-voucherTitle-fontWeight: 400;
  --typography-voucherTitle-letterSpacing: 0em;
  --typography-voucherTitle-lineHeight: 16px;
  --typography-voucherTitle-textTransform: none;
  --zIndex-appBar: 1100;
  --zIndex-drawer: 1200;
  --zIndex-fab: 1050;
  --zIndex-mobileStepper: 1000;
  --zIndex-modal: 1300;
  --zIndex-snackbar: 1400;
  --zIndex-speedDial: 1050;
  --zIndex-tooltip: 1500 ;
}

@media (min-width: 648px) {
  :root, :host {
    --palette-voucherCard-contrastText: #FFFFFF;
    --palette-voucherCard-contrastTextOnHover: #FFFFFF;
    --palette-voucherCard-contrastTextOnSecondary: #FFFFFF;
    --palette-voucherCard-contrastTextOnTertiary: #242628;
    --palette-voucherCard-hover: #B35500;
    --palette-voucherCard-main: #FF7900;
    --palette-voucherCard-secondary: #FF7900;
    --palette-voucherCard-tertiary: #FFA427;
    --spacing-2XL: 64px;
    --spacing-3XL: 88px;
    --spacing-L: 32px;
    --spacing-M: 24px;
    --spacing-S: 16px;
    --spacing-XL: 48px;
    --typography-h1-fontSize: 40px;
    --typography-h1-lineHeight: 48px;
    --typography-h2-fontSize: 32px;
    --typography-h2-lineHeight: 40px;
    --typography-h3-fontSize: 24px;
    --typography-h4-fontSize: 20px;
    --typography-h4-lineHeight: 28px;
    --typography-subtitle2-fontSize: 16px;
    --typography-subtitle2-lineHeight: 24px;
    --typography-voucherTitle-fontSize: 18px;
    --typography-voucherTitle-lineHeight: 24px ;
  }
}
.gsg-serp.gsg-serp-badge {
  margin: var(--spacing-2XS) 0;
  display: inline-flex !important;
  align-items: center;
  gap: var(--spacing-XS);
  padding: 2px 12px 2px 2px;
  background-color: #f2f2f2;
  color: var(--palette-primary-main);
  border-radius: var(--shape-borderRadiusButton);
  font-family: var(--typography-caption-fontFamily);
  font-size: var(--typography-caption-fontSize);
  font-weight: var(--typography-caption-fontWeight);
  cursor: pointer;
}
.gsg-serp.gsg-serp-badge:hover {
  background-color: #E0E0E0;
}
.gsg-serp.gsg-serp-badge--dark {
  background-color: #3b3b3b;
  color: #FE9300;
}
.gsg-serp.gsg-serp-badge--dark:hover {
  background-color: var(--palette-grey-A700);
}
.gsg-serp.gsg-serp-badge__logo {
  width: 24px;
  height: 24px;
  background-color: var(--palette-primary-main);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--palette-common-white);
  box-sizing: border-box;
  padding: var(--spacing-2XS);
  border-radius: var(--shape-borderRadiusButton);
}
.gsg-serp.gsg-serp-badge__logo img {
  width: 100%;
}
.gsg-serp.gsg-serp-badge__logo svg {
  display: inline-flex;
}
.gsg-serp.gsg-serp-badge__items {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-2XS);
}
.gsg-serp.gsg-serp-badge__items > * {
  margin: 0;
  line-height: var(--typography-caption-lineHeight);
}
.gsg-serp.gsg-serp-badge__items > *:nth-child(2):before {
  content: "·";
  margin-right: var(--spacing-2XS);
}